<VirtualHost *:80>
    # ...
    DocumentRoot /var/www/html/sp27/public

    <Directory /var/www/html/sp27/public>
        AllowOverride None

        # Copy .htaccess contents here
    </Directory>
</VirtualHost>