<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}Welcome!{% endblock %}</title>

        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body>
        {% block header %}

        {% endblock %}
        <div id="snackbar"></div>
        <div class="p-10">
            {% block body %}
            
            {% endblock %}
        </div>
        <script>
            function snackbar(message) {
                // Get the snackbar DIV
                var x = document.getElementById("snackbar");

                // Add the "show" class to DIV
                x.className = "show";
                x.innerHTML = message;

                // After 3 seconds, remove the show class from DIV
                setTimeout(function(){ 
                    x.className = x.className.replace("show", ""); 

                }, 3000);
            }
        </script>
    </body>
</html>
