{% extends 'layout/base.html.twig' %}

{% block body %}
    <div class="flex w-full h-full">
        <div class="w-1/6 flex-1 shadow-dark-default flex flex-col p-10">
            <a class="text-xl text-dark-default hover:text-logi-blue mb-5" href="{{ path('admin.users') }}">
                UŻYTKOWNICY
            </a>
            <a class="text-xl text-dark-default hover:text-logi-blue mb-5" href="{{ path('admin.lessons') }}">
                LEKCJE
            </a>
            <a class="text-xl text-dark-default hover:text-logi-blue mb-5" href="{{ path('admin.reservations') }}">
                REZERWACJE
            </a>
            <a class="text-xl text-dark-default hover:text-logi-blue mb-5" href="{{ path('admin.dashboard') }}">
                KONFIGURACJA
            </a>
        </div>
        <div class="w-5/6 p-10">
            {% block content %}

            {% endblock %}
        </div>
    </div>
{% endblock %}