{% macro menu(currentPage) %}
    <header class="flex flex-row justify-between w-full shadow-md">
        <ul class="flex flex-row flex-start">
            <li class="p-4 {% if currentPage == 'dashboard' %} border-b-2 border-blue-500 {% endif %}">
                <a href="{{ path('dashboard') }}">
                    Mój Panel
                </a>
            </li>
            <li class="p-4 {% if currentPage == 'changePassword' %} border-b-2 border-blue-500 {% endif %}">
                <a href="{{ path('user.password') }}">
                    Zmiana hasła
                </a>
            </li>
            {% if is_granted('ROLE_ADMIN') %}
                <li class="p-4 {% if currentPage == 'changePassword' %} border-b-2 border-blue-500 {% endif %}">
                    <a href="{{ path('admin.dashboard') }}">
                        Panel administracyjny
                    </a>
                </li>
            {% endif %}
        </ul>
        <div class="p-4 align-middle">
            <a class="btn btn--default" href="{{ path('logout') }}">Wyloguj</a>
        </div>
    </header>
{% endmacro %}